<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/photon.min.css' />
    <link rel='stylesheet' href='/stylesheets/photon.css' />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header class="toolbar toolbar-header">
      <h1 class="title">Todos os Produtos</h1>
      
        <div class="toolbar-actions">
          <a href="/painel">
            <button class="btn btn-default">
            Menu
            </button>
          </a>
    </header> 

    <section>
      <div id="formulario">
        <form action="/usuarios/add" method="post">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Qual seu Nome?">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Qual seu Email?">
          </div>
          <div class="form-group">
            <label>Senha</label>
            <input type="password" name="senha" id="senha" class="form-control" placeholder="Digite uma senha forte!">
          </div>
          <div class="form-group">
            <label>Telefone</label>
            <input type="tel" class="form-control" id="telefone" name="telefone" maxlength="15" placeholder="Qual seu telefone? DDD-9999-9999">
          </div>
          <button class="btn btn-large btn-primary">Adicionar</button>
        </form>
      </div>
    </section>
    <footer class="toolbar toolbar-footer">      
      <a href="/usuarios">
        <button class="btn btn-default">
        Voltar
        </button>
      </a>      
    </footer>
    <script>
      /* Máscaras ER */
      function mascara(o,f){
        v_obj=o
        v_fun=f
        setTimeout("execmascara()",1)
      }
      function execmascara(){
        v_obj.value=v_fun(v_obj.value)
      }
      function mtel(v){
        v=v.replace(/\D/g,""); //Remove tudo o que não é dígito
        v=v.replace(/^(\d{2})(\d)/g,"($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
        v=v.replace(/(\d)(\d{4})$/,"$1-$2"); //Coloca hífen entre o quarto e o quinto dígitos
        return v;
      }
      function id( el ){
	      return document.getElementById( el );
      }
      window.onload = function(){
	      id('telefone').onkeyup = function(){
		      mascara( this, mtel );
    	  }
      }
    </script>
  </body>
</html>
