<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/photon.min.css' />
    <link rel='stylesheet' href='/stylesheets/photon.css' />
    <link rel="stylesheet" href="/stylesheets/painel.css">
  </head>
  <body>
    <header class="toolbar toolbar-header">
      <h1 class="title">painel</h1>
    </header>    
    <section>
      <div>
        <h1>banco de dados</h1>
      </div>
    </section>
    <footer class="toolbar toolbar-footer">
      <div class="toolbar-actions">
        <a href="/painel">
          <button class="btn btn-default">
          Voltar
          </button>
        </a>
        <button class="btn btn-primary pull-right">
          Novo
        </button>
      </div>
    </footer>
  </body>
</html>
