<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/photon.min.css' />
    <link rel='stylesheet' href='/stylesheets/photon.css' />
    <link rel="stylesheet" href="/stylesheets/painel.css">
  </head>
  <body>
    <header class="toolbar toolbar-header">
      <h1 class="title">painel</h1>
    </header>    
    <section>
      <div>
        <h1>batopapo</h1>
      </div>
    </section>
    <footer class="toolbar toolbar-footer">
      <div class="toolbar-actions">
        <button class="btn btn-default">
          Cancel
        </button>
    
        <button class="btn btn-primary pull-right">
          Save
        </button>
      </div>
    </footer>
  </body>
</html>
