<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/photon.min.css' />
    <link rel='stylesheet' href='/stylesheets/photon.css' />
    <title>Formulario</title>
    <style>
        #formulario{
            margin: 5%;
        }
        button{
            margin: 2%;
        }

    </style>
</head>
<body>
    <div id="formulario" class="form-group">
        <form action="/clientes/add" method="post">
            <div class="form-group">
                <label>Nome:</label>
                <input type="text" name="nome" id="nome" class="form-control">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Telefone:</label>
                <input onkeyup="mascara( this, mtel )" type="text" name="telefone" id="telefone" maxlength="15" name="telefone" id="telefone" placeholder="ddd-9999-9999" class="form-control">
            </div>
            <div class="form-group">
                <label>Cep:</label>
                <input onkeyup="mascara( this, mcep )" maxlength="9" name="cep" id="cep" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Nº da Casa:</label>
                <input type="text"  name="numero" id="numero" maxlength="8" class="form-control">
            </div>
            <button type="submit" class="btn btn-large btn-default">Adicionar</button><button type="submit" onclick="window.close()" class="btn btn-large btn-default">Cancelar</button>
        </form>
    </div>
    <script type="text/javascript">
        
        function mascara(o,f){
            v_obj=o
            v_fun=f
            setTimeout("execmascara()",1)
        }
        function execmascara(){
            v_obj.value=v_fun(v_obj.value)
        }
        function mtel(v){
            v=v.replace(/\D/g,"");                  
            v=v.replace(/^(\d{2})(\d)/g,"($1) $2");
            v=v.replace(/(\d)(\d{4})$/,"$1-$2");    
            return v;
        }
        function mcep(v){
            v=v.replace(/\D/g,"")
            v=v.replace(/^(\d{5})(\d)/,"$1-$2")
            return v
        }
        function id( el ){
            return document.getElementById( el );
        }     
    </script>
</body>
</html>