<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/photon.min.css' />
    <link rel='stylesheet' href='/stylesheets/photon.css' />
    <link rel="stylesheet" href="/stylesheets/painel.css">
  </head>
  <body>
    <header class="toolbar toolbar-header">
      <h1 class="title">painel</h1>
    </header>    
    <section>
      <div id="painel">
        <nav class="nav-group">
          <h2 class="nav-group-title">Logado como: <%= title %></h2>
          <a class="nav-group-item active">
            <span class="icon icon-home"></span>
            Painel
          </a>
          <a href="/usuarios" class="nav-group-item">
            <span class="icon icon-users"></span>
            Usuarios
          </a>
          <a href="/produtos" class="nav-group-item">
            <span class="icon icon-download"></span>
            Produtos
          </a>
          <span class="nav-group-item">
            <span class="icon icon-box"></span>
            Estoque
          </span>
          <span class="nav-group-item">
            <span class="icon icon-chat"></span>
            Bate-papo
          </span>
          <span class="nav-group-item">
            <span class="icon icon-cloud"></span>
            Banco de Dados
          </span>
          <span class="nav-group-item">
            <span class="icon icon-logout"></span>
            Sair
          </span>
        </nav>
      </div>
    </section>
    <footer class="toolbar toolbar-footer">
      <h1 class="title">Nome da Empresa</h1>
    </footer>
  </body>
</html>
