<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/photon.min.css' />
    <link rel='stylesheet' href='/stylesheets/photon.css' />
    <link rel="stylesheet" href="/stylesheets/painel.css">
  </head>
  <body>
    <header class="toolbar toolbar-header">
      <h1 class="title">Usuarios Cadastrados</h1>
    </header>    
    <section>
      <div>
        <table class="table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Telefone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% todos.forEach((lista)=>{  %>
              <tr>
                <td><%= lista.id %></td>              
                <td><%= lista.nome %></td>
                <td><%= lista.email %></td>
                <td><%= lista.telefone %></td>
                <td><button onClick="pegarid(()=>{console.log(todos)})" class="btn btn-mini btn-negative">Apagar</button></td>
              </tr>
            <%}) %>
          </tbody>
        </table>
      </div>
    </section>
    <footer class="toolbar toolbar-footer">
      <div class="toolbar-actions">
        <a href="/painel">
          <button class="btn btn-default">
            Voltar
          </button>
        </a>
        <a href="/usuarios/admin">
          <button class="btn btn-primary pull-right">
            Novo Usuario
          </button>
        </a>
      </div>
    </footer>
    <script>
      var pegarid = (e) => {
      

      }

    </script>
  </body>
</html>
