<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/photon.min.css' />
    <link rel='stylesheet' href='/stylesheets/photon.css' />
    <link rel="stylesheet" href="/stylesheets/painel.css">
  </head>
  <body>
    <header class="toolbar toolbar-header">
      <h1 class="title">painel</h1>
    </header>    
    <section>
      <div>
        <table class="table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Telefone</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>nome completo</td>
              <td>email completo</td>
              <td>telefone</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <footer class="toolbar toolbar-footer">
      <div class="toolbar-actions">
        <a href="/painel">
          <button class="btn btn-default">
            Voltar
          </button>
        </a>
        <a href="/usuarios/admin">
          <button class="btn btn-primary pull-right">
            Novo Usuario
          </button>
        </a>
      </div>
    </footer>
  </body>
</html>
